.layoutMiddleLayerLogIn {
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template:
        "b b a" auto
        "b b c" auto
        "b b c" auto / 1fr 0.5fr 2fr;
    grid-gap: 10px;
}

.headingHolder {
    grid-area: a;
    width: 90%;
    font-size: 23px;
    color: white;
    padding: 0 10px;
}

.formHolder {
    grid-area: c;
    width: 90%;
    background-color: #474847;
    height: 5cm;
    height: auto;
    display: grid;
    gap: 10px;
    padding: 0 10px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.image {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .image img {
        width: 60%;
    }

.name {
    margin-top: 20px;
    margin-bottom: 7px;
    color: silver;
}

.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    max-width: 9.5cm;
    width: 90%;
    height: 1cm;
    border-radius: 10px;
    border-color: rgb(68, 68, 68);
    border-width: 2px;
    font-size: 20px;
}

.ForgotPasswordPanel {
    display: flex;
    justify-content: right;
    max-width: 8.5cm;
    width: 85%;
    margin: 0;
}

    .ForgotPasswordPanel li {
        list-style-type: none;
    }

    .ForgotPasswordPanel a {
        font-size: 20px;
        text-decoration: underline;
        color: rgb(255, 255, 255);
    }

.submitBtn {
    max-width: 9.5cm;
    width: 90%;
    height: 1cm;
    border-radius: 10px;
    background-color: rgba(30, 5, 85, 255);
    color: floralwhite;
    margin-bottom: 10px;
}

    .submitBtn:hover {
        background-color: #3852ba;
    }

.buttonHolder {
    margin-top: 10px;
}

.imgShadow {
    color: white;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px white;
}

.NotAMemberPanel {
    display: flex;
    max-width: 9.5cm;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.NavToSignUp {
    display: flex;
    justify-content: left;
    margin: 0;
    padding-left: 10px;
}

    .NavToSignUp li {
        list-style-type: none;
    }

    .NavToSignUp a {
        font-size: 18px;
        text-decoration: underline;
        color: #7b89ff;
    }
.text-danger {
    color: red !important;
}

/*.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}
*, *::before, *::after {
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }*/
}