@page
@model WebApplication___Sam_Auto.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<form method="post" class="layoutMiddleLayerLogIn" novalidate>
    <div class="headingHolder">
        <h2>Forgot Password</h2>
    </div>
    <div class="formHolder">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="error-message">
                <span class="text-danger">@TempData["ErrorMessage"]</span>
            </div>
        }
        <div>
            <h2 class="email name">Email:</h2>
            <span asp-validation-for="ForgotPasswordDTO.Email" class="text-danger"></span>
            <input asp-for="ForgotPasswordDTO.Email" class="input" type="text" placeholder="Input email" />
        </div>
        <div>
            <h2 class="name">Secret Question:</h2>
            <span asp-validation-for="ForgotPasswordDTO.SecretQuestion" class="text-danger"></span>
            <select asp-for="ForgotPasswordDTO.SecretQuestion" class="input" placeholder="Select a secret question">
                <option value="">Select a secret question</option>
                @foreach (var question in Model.GetSecretQuestions())
                {
                    <option value="@question">@question</option>
                }
            </select>
        </div>
        <div>
            <h2 class="name">Answer to secret question:</h2>
            <span asp-validation-for="ForgotPasswordDTO.SecretQuestionAnswer" class="text-danger"></span>
            <input asp-for="ForgotPasswordDTO.SecretQuestionAnswer" class="input" type="text" placeholder="Input answer" />
        </div>
        
        <div class="buttonHolder">
            <button class="submitBtn">Submit</button>
        </div>
    </div>
    <div class="image">
        <img class="imgShadow" src="~/images/SamAutoLogo.png">
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@section Styles
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomLogIn.css" asp-append-version="true" />
}
